<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="base_swivel" params="parent xyz rpy meshes">
<xacro:property name="sphere_radius_2" value="0.02" />
<xacro:property name="sphere_joint_y_2" value="0.15" />
<xacro:property name="z_sphere_2" value="-0.01" />

<xacro:property name="chassis_mass" value="10.0"/>
<xacro:property name="wheel_mass" value="0.2"/>
<xacro:property name="caster_wheel_mass" value="0.01"/>

<xacro:property name="sphere_radius" value="0.02" />
<xacro:property name="sphere_joint_y" value="-0.15" />
<xacro:property name="z_sphere" value="-0.01" />

<xacro:property name="pi_const" value="3.1415926535898" />
<xacro:property name="half_pi_const" value="1.5707963" />
<joint name="caster_wheel_joint" type="fixed">
    <parent link="chassis"/>
    <child link="caster_wheel"/>
    <origin xyz="0.2 -0.1 0.0125" rpy="0 0 0"/>
</joint>

<link name="caster_wheel">
    <visual>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </visual>
	<collision>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </collision>
    <xacro:inertial_sphere mass="0.1" radius="0.02">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>
</link>
<gazebo reference="caster_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
</gazebo>

<joint name="caster_wheel_joint2" type="fixed">
    <parent link="chassis"/>
    <child link="caster_wheel2"/>
    <origin xyz="0.2 0.1 0.0125" rpy="0 0 0"/>
</joint>

<link name="caster_wheel2">
    <visual>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </visual>
	<collision>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </collision>
    <xacro:inertial_sphere mass="0.1" radius="0.02">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>
</link>
<gazebo reference="caster_wheel2">
    <material>Gazebo/Black</material>
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
</gazebo>

<joint name="caster_wheel_joint1" type="fixed">
    <parent link="chassis"/>
    <child link="caster_wheel1"/>
    <origin xyz="-0.2 -0.1 0.0125" rpy="0 0 0"/>
</joint>

<link name="caster_wheel1">
    <visual>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </visual>
	<collision>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </collision>
    <xacro:inertial_sphere mass="0.1" radius="0.02">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>
</link>
<gazebo reference="caster_wheel1">
    <material>Gazebo/Black</material>
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
</gazebo>

<joint name="caster_wheel_joint3" type="fixed">
    <parent link="chassis"/>
    <child link="caster_wheel3"/>
    <origin xyz="-0.2 0.1 0.0125" rpy="0 0 0"/>
</joint>

<link name="caster_wheel3">
    <visual>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </visual>
	<collision>
        <geometry>
            <sphere radius="0.02" />
        </geometry>
        <material name="black"/>
    </collision>
    <xacro:inertial_sphere mass="0.1" radius="0.02">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_sphere>
</link>
<gazebo reference="caster_wheel3">
    <material>Gazebo/Black</material>
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
</gazebo>


  </xacro:macro>

</robot>
