<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Argument -->
	<arg name="lidar" default="true" />
	<arg name="localization" default="false" />
	<arg name="move" default="false" />

		<!-- Bring up Robot -->
	<include file="$(find controller)/launch/robot_description.launch"/>

		<!-- Bring up Camera -->
	<include file="$(find controller)/launch/camera.launch">
		<arg name="enable_infra1"             value="true"/>
		<arg name="enable_infra2"             value="true"/>
	</include>

		<!-- Odometry -->
	<include file="$(find controller)/launch/odometry.launch">
		<arg name="use_lidar"             value="$(arg lidar)"/>
	</include>
</launch>


