<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="enable_infra1"             value="true"/>
    <arg name="enable_infra2"             value="true"/>
    <arg name="enable_gyro"               value="true"/>
    <arg name="enable_accel"              value="true"/>
    <arg name="gyro_fps" value="200"/>
    <arg name="accel_fps" value="200"/>
  </include>
</launch>

