<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Argument -->
  <arg name="lidar" default="true" />
  <arg name="localization" default="true" />
  <arg name="move" default="true" />

  <!-- RTAB-Map -->
  <include file="$(find controller)/launch/rtabmap.launch">
	  <arg name="use_lidar"             value="$(arg lidar)"/>
	  <arg name="localization"          value="$(arg localization)"/>
  </include>

  <!-- Move_Base -->
  <include if="$(arg move)" file="$(find controller)/launch/move_base.launch">

  </include>
</launch>

